name: Jekyll site CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the site in the jekyll/builder container
      run: |
        docker run --rm \
          -v "${{ github.workspace }}:/srv/jekyll" \
          -v "${{ github.workspace }}/_site:/srv/jekyll/_site" \
          -w /srv/jekyll \
          --user $(id -u):$(id -g) \
          jekyll/builder:latest /bin/bash -lc \
          "bundle config set force_ruby_platform false && bundle install --jobs 4 --retry 3 && bundle exec jekyll doctor && bundle exec jekyll build --future"
